// Definimos varialbes globales

*{
	padding: 0;
	margin: 0;
}


/*MARGEN Y PADDING*/
$px-1: 1em;
$mx-1: 1em;
$mx-2: 2em;

/*display*/
$d-flex:flex;
$d-inline:inline;
$media_tablet: 700px;

/*colores*/
$coral:#F5C6C6;
$dark: #1F1E1E;
$rosita: #F5E2E2;
$blanco: #FFFFFF;

 /*heith*/
$h-100: 100%;

/*width */
$w-100: 100%;
$w-60: 60%;
$w-50: 50%;
$w-25: 25%;
$w-40: 40%;
$w-10: 10%;






