



@media only screen and (min-width: 768px){
	.main {
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 6pc;}

		#encabezado img {width: 25%;

		}
}
@media only screen and (min-width: 1200px){
	.main {
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 6pc;}

		#encabezado img {width: 20%;

		}

}